<div>
    {{countdown}}
    <form name="searchUser" ng-submit="search(username)">
        <input type="search" required placeholder="username id" ng-model="username">
        <input type="submit" value="search" >
    </form>
</div>