   <div>
       <h2>{{user.login}}</h2>
       
       {{error}}
            Location: {{user.url}}
            <img ng-src="{{user.avatar_url}}" title="{{user.login}}">


            Order:
            <select ng-model="repoSortOrder">
                <option value="+name">Name</option>
                <option value="-stargazers_count">Star</option>
                <option value="+language">language</option>
            </select>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>star</th>
                        <th>language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos| orderBy:repoSortOrder">
                        <td>{{repo.name}}</td>
                        <td>{{repo.stargazers_count| number:1}}</td>
                        <td>{{repo.language}}</td>

                    </tr>
                </tbody>
            </table>
            
            <a href="#/main">Back to Search</a>
        </div>